.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
<<<<<<< HEAD
    gap: 1.5rem;
=======
    gap: 2.5rem;
>>>>>>> a5c6769bf405854c0887c9e525d5bfa101bbea29
}

.portfolio__item{
    background: var(--color-bg-variant);
<<<<<<< HEAD
    padding: 1.0rem;
=======
    padding: 1.3rem;
>>>>>>> a5c6769bf405854c0887c9e525d5bfa101bbea29
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image{
 border-radius: 1.5rem;
 overflow: hidden;
 width: auto;
 height: auto;
}

.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.container.portfolio__container{
    height: auto;
}


@media screen and(maxwidth: 1024px) {
    .portfolio__container{
grid-template-columns: 1fr 1fr;
gap: 1.2rem;
    }
  }
  
    @media screen and(maxwidth: 600px) {
      .portfolio__container{
          grid-template-columns: 1fr;
          gap: 1rem;
      }
  }